body {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100dvw;
  height: 100dvh;
  background: url("./night bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}
.main-container .inner-container {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.main-container .inner-container .input-container {
  width: 70%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .inner-container .input-container input {
  width: 400px;
  height: 30px;
  border: none;
  outline: skyblue;
  border-radius: 5px;
  padding-left: 10px;
}
.main-container .inner-container .input-container button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin-left: 40px;
}
.main-container .inner-container .input-container button:active {
  background-color: cornflowerblue;
  color: white;
  box-shadow: 0px 5px 10px rgba(114, 197, 233, 0.6);
}
.main-container .inner-container .list-container {
  width: 35%;
  height: 70%;
  display: flex;
  align-items: center;
}
@media (max-width: 560px) {
  .main-container .inner-container .list-container {
    width: 90%;
  }
}
.main-container .inner-container .list-container ul {
  width: 100%;
  height: 90%;
  list-style: none;
  padding: 0;
}
.main-container .inner-container .list-container ul li {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 400px;
}
.main-container .inner-container .list-container ul li p {
  width: 230px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  transition: outline 10ms ease-in-out;
  padding-top: 5px;
  cursor: default;
}
@media (max-width: 560px) {
  .main-container .inner-container .list-container ul li p {
    width: 180px;
  }
}
.main-container .inner-container .list-container ul li .edit {
  margin-left: 80px;
}
@media (max-width: 560px) {
  .main-container .inner-container .list-container ul li .edit {
    margin-left: 0px;
  }
}
.main-container .inner-container .list-container ul li .save {
  margin-left: 80px;
}
@media (max-width: 560px) {
  .main-container .inner-container .list-container ul li .save {
    margin-left: 0px;
  }
}
.main-container .inner-container .list-container ul li button {
  width: 80px;
  height: 25px;
  border: none;
  background-color: rgb(7, 116, 167);
  color: white;
  border-radius: 5px;
}
.main-container .inner-container .list-container ul li button:active {
  background-color: rgb(83, 235, 227);
}
@media (max-width: 560px) {
  .main-container .inner-container .list-container ul li button {
    width: 60px;
  }
}
.main-container .inner-container .list-container ul li .save {
  display: none;
}
@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */